{% extends "base.html" %}
{% block title %} login {% endblock title %}
{% block start %}

<div class="container mt-5 ">

  <form class="col-6 mx-auto" method="post" enctype="multipart/form-data">
    {% csrf_token %}

    <h2>Login</h2>
    <div class="mb-3">
      <label for="exampleInputEmail1" class="form-label">Username</label>
      <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">

    </div>
    <div class="mb-3">
      <label for="exampleInputPassword1" class="form-label">Password</label>
      <input type="password" class="form-control" id="exampleInputPassword1">
    </div>

    <button type="submit" class="btn btn-primary">Submit</button>
    <div>
      <p>Don't have an account <a href="/register/">Click here</a></p>
    </div>

  </form>

</div>




{% endblock %}