{% extends "base.html" %}
{% block title %} recipes {% endblock title %}
{% block start %}

<div class="container mt-5 ">

  <form class="col-6 mx-auto" method="post" enctype="multipart/form-data">
    {% csrf_token %}
    <div class="mb-3">
      <label for="exampleInputEmail1" class="form-label">Recipe Name</label>
      <input name="recipe_name" required type="text" class="form-control">

    </div>
    <div class="mb-3">
      <label for="exampleInputPassword1" class="form-label">Recipe Description</label>
      <textarea name="recipe_description" required class="form-control"></textarea>
    </div>
    <div class="mb-3 form-check">
      <input name="recipe_image" type="file">recipe image </input>

    </div>
    <button type="submit" class="btn btn-success">Add Recipe</button>
  </form>

</div>

<div class="d-flex justify-content-center align-items-center">
  <table class="table container table-striped">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Recipe Name</th>
        <th scope="col">Description</th>
        <th scope="col">Image</th>
        <th scope="col">Actions</th>
      </tr>
    </thead>
    <tbody>
      {% for recipes in recipe %}
      <tr>
        <th scope="row">{{forloop.counter}}</th>
        <td>{{recipes.recipe_name}}</td>
        <td>{{recipes.recipe_description}}</td>
        <td> <img src="/media/{{recipes.recipe_image}}" style="height: 100px; width: 100px;"> </td>
        <td> <a href="/delete-recipe/{{recipes.id}}" class="btn btn-danger">Delete</a> </td>
        <td> <a href="/update-recipe/{{recipes.id}}" class="btn btn-success">update</a> </td>
      </tr>
      {% endfor %}

    </tbody>
  </table>
</div>


{% endblock %}